[ghq]
    root = /Users/nshiba/work/src
[core]
    editor = vim -c \"set fenc=utf-8\"
    excludesfile = /Users/nshiba/.gitignore_global
[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
[user]
    name = nshiba
    email = naoya.shiba310@gmail.com
[merge]
    ff = false
[pull]
    ff = only
[alias]
    co = checkout
    cob = checkout -b
    cm = commit -m
    cancel = reset --soft HEAD^
    pom = push origin master
    empty-commit = commit --allow-empty
